<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
</head>
<body>
<br/>
<br/>

<a th:href="@{/admin/new}">Добавить пользователя</a>
<a th:href="@{/admin/roles}">Список ролей</a>
<br/>
<a th:href="@{/j_spring_security_logout}">Выйти</a>
<hr/>

<table>

    <tbody>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Роли</th>

    </tr>
    <tr th:each="usr : ${user}">

        <td th:text="${usr.getId()}"></td>
        <td th:text="${usr.getUsername()}"></td>
        <td th:text="${usr.getEmail()}"></td>

        <td>
            <th:block th:each="role:${usr.getRoles()}">
                <p th:text="${role.getName}"></p>
            </th:block>
        </td>
        <td>
            <input type="button" value="Обновить" th:onclick="|window.location.href = ' @{/admin/{id}/edit (id=${usr.getId()})}'|"/>

        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}/remove (id=${usr.getId()})}">
                <input type="submit" value="Удалить!"/>
            </form>

        </td>



    </tr>
    </tbody>
</table>


<!--<div>-->
<!--    <th:block th:each="usr : ${}">-->
<!--        <p th:text="${usr}"></p>-->
<!--    </th:block>-->
<!--</div>-->
</body>
</html>