<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Login page</title>
</head>

<body>
<div class="container-fluid">
    <div class="row bg-dark d-flex align-items-center  ">
        <div class="col-sm-6 mt-2">
            <b><p class="text-light py-0" th:text="${user3.getEmail()}" style="display:inline-block"></p></b>
            <p class="text-light  py-0" style="display:inline-block"> with roles:</p>
            <p class="text-light  py-0" th:each="role : ${user3.getRoles()}" th:text="${role.getName+'&nbsp'}"
               style="display:inline-block"></p>

        </div>
        <div class="col-sm-6 mt-0 d-flex justify-content-end ">


            <a th:href="@{/logout}" class="text-secondary" style="text-decoration: none">Logout</a>


        </div>


    </div>
    <div class="row">
        <div class="col-2 mt-2 p-0 ">

            <div class="nav flex-column nav-pills " id="v-pills-tab" ; role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                   data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                   aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                   type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>


        </div>

        <div class="col-sm-10 bg-light " style="height: 700px">

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab" tabindex="0">
                    <h3 class="m-3">Admin panel</h3>


                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">User table
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">New User
                            </button>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab" tabindex="0">


                            <div class="card w-100">
                                <div class="card-header">
                                    <h5>All User</h5>
                                </div>
                                <div class="card-body">

                                    <table class="table border-top table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Email</th>
                                            <th>Роли</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>

                                        <tbody id="tbData">


                                        <!--                                        <tr th:each="usr : ${user}">-->

                                        <!--                                            <td th:text="${usr.getId()}"></td>-->
                                        <!--                                            <td th:text="${usr.getUsername()}"></td>-->
                                        <!--                                            <td th:text="${usr.getEmail()}"></td>-->

                                        <!--                                            <td>-->
                                        <!--                                                <th:block th:each="role:${usr.getRoles()}">-->
                                        <!--                                                    <p th:text="${role.getName}"></p>-->
                                        <!--                                                </th:block>-->
                                        <!--                                            </td>-->
                                        <!--                                            <td>-->
                                        <!--                                                <button type="button" class="btn btn-info btn-sm "-->
                                        <!--                                                        data-bs-toggle="modal"-->
                                        <!--                                                        th:data-bs-target="${'#edituser'+usr.getId()}">-->

                                        <!--                                                    Edit-->
                                        <!--                                                </button>-->

                                        <!-- Модальное окно -->
                                        <!--                                                                                        <div class="modal fade" th:id="${'edituser'+usr.getId()}"-->
                                        <!--                                                     tabindex="-1" aria-labelledby="exampleModalLabel"-->
                                        <!--                                                     aria-hidden="true">-->
                                        <!--                                                    <div class="modal-dialog">-->
                                        <!--                                                        <div class="modal-content">-->
                                        <!--                                                            <div class="modal-header">-->
                                        <!--                                                                <h3 class="modal-title fs-5"-->
                                        <!--                                                                    id="exampleModalLabel">Edit User</h3>-->
                                        <!--                                                                <button type="button" class="btn-close"-->
                                        <!--                                                                        data-bs-dismiss="modal"-->
                                        <!--                                                                        aria-label="Закрыть"></button>-->
                                        <!--                                                            </div>-->
                                        <!--                                                            <div class="modal-body">-->


                                        <!--                                                                <form class="text-center fw-bold"-->
                                        <!--                                                                      th:method="POST"-->
                                        <!--                                                                      th:action="@{/admin/create}"-->
                                        <!--                                                                      th:object="${usr}">-->

                                        <!--                                                                    <label for="id"-->
                                        <!--                                                                           class="form-label">ID</label>-->
                                        <!--                                                                    <input type="text" class="form-control"-->
                                        <!--                                                                           th:name="id" th:value="${usr.getId}"-->
                                        <!--                                                                           id="id"-->
                                        <!--                                                                           aria-label="readonly input example"-->
                                        <!--                                                                           readonly/>-->

                                        <!--                                                                    <br/>-->
                                        <!--                                                                    <label for="username"-->
                                        <!--                                                                           class="form-label">First name</label>-->
                                        <!--                                                                    <input type="text" class="form-control"-->
                                        <!--                                                                           th:value="${usr.getUsername}"-->
                                        <!--                                                                           th:name="userName" id="username"/>-->
                                        <!--                                                                    <br/>-->
                                        <!--                                                                    <label for="password"-->
                                        <!--                                                                           class="form-label">Password</label>-->
                                        <!--                                                                    <input type="password" class="form-control"-->
                                        <!--                                                                           th:value="${''}" th:name="password"-->
                                        <!--                                                                           id="password"/>-->
                                        <!--                                                                    <br/>-->
                                        <!--                                                                    <label for="email"-->
                                        <!--                                                                           class="form-label">Email</label>-->
                                        <!--                                                                    <input type="text" class="form-control"-->
                                        <!--                                                                           th:value="${usr.getEmail}"-->
                                        <!--                                                                           th:name="email" id="email"/>-->
                                        <!--                                                                    <br/>-->
                                        <!--                                                                    <label for="roles"-->
                                        <!--                                                                           class="form-label">Role</label>-->
                                        <!--                                                                    <br>-->
                                        <!--                                                                    <select name="roles" class="form-control"-->
                                        <!--                                                                            id="roles" size="2" multiple="multiple">-->
                                        <!--                                                                        <option th:each="role:${roles}"-->
                                        <!--                                                                                th:text="${role.getName}"-->
                                        <!--                                                                                th:value="${role.getId}"></option>-->
                                        <!--                                                                    </select>-->
                                        <!--                                                                    <br/>-->

                                        <!--                                                                    <div class="modal-footer">-->
                                        <!--                                                                        <button type="button"-->
                                        <!--                                                                                class="btn btn-secondary"-->
                                        <!--                                                                                data-bs-dismiss="modal">Close-->
                                        <!--                                                                        </button>-->
                                        <!--                                                                        <button type="submit"-->
                                        <!--                                                                                class="btn btn-primary">Edit-->
                                        <!--                                                                        </button>-->
                                        <!--                                                                    </div>-->


                                        <!--                                                                </form>-->
                                        <!--                                                            </div>-->

                                        <!--                                                        </div>-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->


                                        <!--                                            </td>-->
                                        <!--                                            <td>-->
                                        <!--                                                <button type="button" class="btn btn-danger btn-sm"-->
                                        <!--                                                        data-bs-toggle="modal"-->
                                        <!--                                                        th:data-bs-target="${'#deleteuser'+usr.getId()}">-->
                                        <!--                                                    Delete-->
                                        <!--                                                </button>-->

                                        <!--                                                &lt;!&ndash; Модальное окно &ndash;&gt;-->
                                        <div class="modal fade" id="modal-delete"
                                             tabindex="-1" aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title fs-5"
                                                            id="exampleModalLabel">Delete User</h3>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Закрыть"></button>
                                                    </div>
                                                    <div class="modal-body">


                                                        <form class="text-center fw-bold">

                                                            <label for="delete-id"
                                                                   class="form-label">ID</label>
                                                            <input type="text" class="form-control"

                                                                   id="delete-id"
                                                                   aria-label="readonly input example"
                                                                   readonly/>

                                                            <br/>
                                                            <label for="delete-username"
                                                                   class="form-label">First name</label>
                                                            <input type="text" class="form-control"
                                                                   id="delete-username"
                                                                   aria-label="readonly input example"
                                                                   readonly/>
                                                            <br/>

                                                            <input type="hidden" class="form-control"

                                                                   id="delete-password"/>
                                                            <br/>
                                                            <label for="delete-email"
                                                                   class="form-label">Email</label>
                                                            <input type="text" class="form-control"
                                                                   id="delete-email"
                                                                   aria-label="readonly input example"
                                                                   readonly/>
                                                            <br/>
                                                            <label for="delete-roles"
                                                                   class="form-label">Role</label>
                                                            <br>
                                                            <select name="roles" class="form-control"
                                                                    id="delete-roles" size="2" multiple="multiple"
                                                                    aria-label="readonly input example"
                                                                    readonly>
                                                                <option value="1" id="delete-role_user">ROLE_USER</option>
                                                                <option value="2" id="delete-role_admin">ROLE_ADMIN</option>
                                                            </select>
                                                            <br/>

                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-primary btn-danger">
                                                                    Delete
                                                                </button>
                                                            </div>


                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <!--                                            </td>-->

                                        <!--                                        </tr>-->
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                             aria-labelledby="nav-profile-tab" tabindex="0">

                            <div class="card w-100">
                                <div class="card-header">
                                    <h5>ADD New User</h5>
                                </div>
                                <div class="card-body d-flex justify-content-center">

                                    <form class="text-center fw-bold " style="width: 300px" ; id="add-form">
                                        <br/>
                                        <label for="add-username" class="form-label">First name</label>
                                        <input type="text" class="form-control form-control-sm"
                                               id="add-username"/>
                                        <br/>
                                        <label for="add-password" class="form-label">Password</label>
                                        <input type="password" class="form-control form-control-sm"
                                               id="add-password"/>
                                        <br/>
                                        <label for="add-email" class="form-label">Email</label>
                                        <input type="text" class="form-control form-control-sm" id="add-email"/>
                                        <br/>
                                        <label for="add-roles" class="form-label">Role</label>
                                        <br>
                                        <select name="roles" class="form-control form-control-sm" id="add-roles"
                                                size="2" multiple="multiple">
                                            <option value="1">ROLE_USER</option>
                                            <option value="2">ROLE_ADMIN</option>
                                        </select>
                                        <br/>

                                        <div class="modal-footer d-flex justify-content-center">

                                            <button type="submit" class="btn btn-success" id="add-btn-submit">Add new
                                                user
                                            </button>
                                        </div>


                                    </form>


                                </div>
                            </div>


                        </div>

                    </div>


                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab" tabindex="0">

                    <div class="card w-100">
                        <div class="card-header">
                            <h5>User informatiom-page</h5>
                        </div>
                        <div class="card-body">

                            <table class="table border-top table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Имя</th>
                                    <th>Email</th>
                                    <th>Роли</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr th:each="usr : ${user3}">

                                    <td th:text="${usr.getId()}"></td>
                                    <td th:text="${usr.getUsername()}"></td>
                                    <td th:text="${usr.getEmail()}"></td>

                                    <td>
                                        <th:block th:each="role:${usr.getRoles()}">
                                            <p th:text="${role.getName}"></p>
                                        </th:block>
                                    </td>


                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="admin.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
</script>

</body>

</html>