<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/edit}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <br/>
    <label for="name">Имя пользователя: </label>
    <input type="text" th:field="*{userName}" id="name"/>
    <br/>
    <label for="password">Пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Изменить"/>
</form>

<hr/>
<br/>
Роли пользователя:
<div>
    <th:block th:each="rl : ${user.getRoles()}">
        <p th:text="${rl}"></p>
    </th:block>
</div>
<hr/>
<br/>

Список всех ролей:
<table>

    <tbody>
    <tr>
        <th>ID</th>
        <th>РОЛЬ</th>
    </tr>
    <tr th:each="role1 : ${role}">

        <td th:text="${role1.getId()}"></td>
        <td th:text="${role1.getRole()}"></td>
        <td>
            <form th:method="POST" th:action="@{/editRoleUser}">
                <input type="hidden" th:value="${user.getId()}" name="userId"/>
                <input type="hidden" th:value="${role1.getId()}" name="roleId"/>
                <input type="submit" value="Добавить текущему пользователю"/>
            </form>

        </td>
        <td>
            <form th:method="POST" th:action="@{/deleteRoleUser}">
                <input type="hidden" th:value="${user.getId()}" name="userId"/>
                <input type="hidden" th:value="${role1.getId()}" name="roleId"/>
                <input type="submit" value="Удалить у текущего пользователя"/>
            </form>

        </td>


    </tr>
    </tbody>
</table>
</body>
</html>